* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
body {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* custom scrollbar starts */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #252525;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0149bd;
}
/* custom scrollbar ends */
.container {
}
/* .fixed_width {
  width: 1250px;
  position: relative;
} */
.row {
  width: 100%;
  padding: 0.5rem 1rem;
}
.nav_shadow {
  position: fixed;
  top: 0;
  background: white;
  z-index: 99;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.col_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  position: relative;
}
.nav_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* customized  */
.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .logo {
    width: 40px;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .search_box {
    display: flex;
    background: #f0f2f5;
    width: 240px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    svg {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      border: none;
      outline: none;
      padding: 10px 30px;
      background: transparent;
    }
  }
}
.nav_middle {
  .nav_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .nav_icon {
      display: flex;
      justify-content: center;
      padding: 12px 40px;
      border-radius: 10px;
      position: relative;
      cursor: pointer;

      p {
        position: absolute;
        top: 110%;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        background: black;
        color: white;
        visibility: hidden;
      }
    }
  }
  .nav_icon:hover {
    background: #ededed;
  }
  .nav_icon:hover p {
    visibility: visible;
  }
  .nav_icon:hover svg {
    color: #0866ff;
  }
}
.nav_right {
  .nav_r_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .nav_r_icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #e2e5e9;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      p {
        position: absolute;
        top: 110%;
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 400;
        background: black;
        color: white;
        visibility: hidden;
      }

      span {
        width: 28px;
        height: 13px;
        background: red;
        font-size: 12px;
        color: white;
        position: absolute;
        top: -3px;
        left: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-radius: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 50%;
      }
      .setting_arrow {
        position: absolute;
        bottom: 0;
        right: 0;
        background: white;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .nav_r_icon:hover {
      background: #ededed;
    }
    .nav_r_icon:hover p {
      visibility: visible;
    }
    .nav_r_icon:hover svg {
      color: #0866ff;
    }
  }
}
/* account settings options starts */
.account_settings {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 38px;
  right: 0px;
  width: 300px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
}
.profile_settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.setting_user_container {
  border-bottom: 1px solid lightgray;
}
.profile_settings .setting_user {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.profile_settings .setting_user:hover {
  background: #c1c1c2;
}
.account_settings .profile_settings .setting_user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.profile_settings .setting_user h4 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.pages_settings {
  border-bottom: 1px solid lightgray;
}
.page_user {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2 s ease-in-out;
}
.page_user:hover {
  background: #c1c1c2;
}
.profile_settings .pages_settings .page_user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.page_user h4 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.profile_settings button {
  border: none;
  outline: none;
  background: #e2e5e9;
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 5px;
}
.profile_settings button h6 {
  font-size: 12px;
  font-weight: 500;
}
.profile_settings button:hover {
  background: #dadbdb;
}

.fb_settings li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}
.fb_settings li a:hover {
  background: #c1c1c2;
}
.settings_icon_container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.fb_setting_icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #e2e5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.fb_setting_icon i {
  font-size: 17px;
}
.settings_icon_container h5 {
  font-weight: 600;
  color: #111111;
}
.fb_setting a > i {
  color: #767c83;
  font-size: 18px;
}
.account_settings > h6 {
  font-size: 10px;
  font-weight: normal;
  padding: 8px;
}
.setting_toggle:hover .account_settings {
  visibility: visible;
}
/* account settings options ends */

/* main section stars */

/* left sidebar starts */
.sidebar_container {
  width: 100%;
}
.left_sidebar_wrap {
  display: flex;
  width: 20%;
  position: fixed;
  top: 50px;
  align-self: flex-start;
  overflow: auto;
  height: calc(100% - 50px);
}
.left_sidebar {
  /* display: flex;
  flex-basis: 20%;
  position: sticky;
  top: 50px; */
  /* align-self: flex-start;
  width: 100vh; */
  width: 100%;
}

.sidebar_links {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
.sidebar_links a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: #141414;
  border-radius: 5px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.sidebar_links a:hover {
  background: #f0f2f5;
}
.see_more_btn {
  width: 25px;
  height: 25px;
  display: flex;
  background: #f0f2f5;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.left_shortcuts {
  padding: 15px 0;
  width: 100%;
}
.sidebar_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding: 5px;
    color: #0866ff;
  }
}
.left_shortcuts > a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  color: #141414;
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.left_shortcuts > a:hover {
  background: #f0f2f5;
}
/* main content starts */
.main_container_wrap {
  display: flex;
  width: 57%;
  /* background: #e4d0f7; */
  position: fixed;
  height: calc(100% - 50px);
  overflow: auto;
  left: 20%;
  top: 50px;
}
.main_container_wrap::-webkit-scrollbar {
  width: 0px;
}
.main_content {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 2rem;
}

/* create post starts */
.create_post {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.create_post_body {
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-bottom: 1px solid #f0f2f5;
  padding-bottom: 10px;
}
.user {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 3px solid #0866ff;
}
.user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.create_post_body .user {
  border: none;
}
.write_post {
  width: calc(100% - 36px);
}
.write_post input {
  width: 100%;
  background: #f0f2f5;
  padding: 10px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #6b6e73;
}

.create_post_icons {
  width: 100%;
  padding: 10px 25px;
  display: flex;

  justify-content: space-between;
}
.create_post_icons a {
  display: flex;
  column-gap: 5px;
  align-items: center;
  padding: 10px 20px;
}
.create_post_icons a img {
  width: 24px;
  height: 24px;
}
.create_post_icons a span {
  font-size: 14px;
  color: #282727;
}

/* story section starts */
.story_container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.stories {
  display: flex;
  column-gap: 10px;
}
.story {
  background: url("../images/messi-world-cup.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(100% / 5);
  padding: 100px 0;
  border-radius: 10px;
  position: relative;
  color: white;
}
.story .user {
  position: absolute;
  top: 10px;
  left: 10px;
}
.story .s_username {
  padding: 15px 0 10px 0;
  width: 100%;
  position: absolute;

  bottom: 0;
  background: linear-gradient(
    to top,
    rgb(10, 10, 10),
    rgba(255, 255, 0, 0.014)
  );
  border-radius: 10px;
}
.story .s_username p {
  font-size: 14px;
  text-align: center;
}
.story:first-child .user {
  background: white;
  top: unset;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid white;
  z-index: 1;
}
.story:first-child .s_username {
  background: white;
  color: black;
  border-radius: 0 0 5px 5px;
}

/* post starts */
.post_container {
  width: 100%;
  padding-bottom: 15px;
}
.card {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 15px 0;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info .name {
  font-weight: bold;
  font-size: 14px;
}

.user-info .time {
  font-size: 12px;
  color: #606770;
}

.card-content {
  padding: 15px;
  font-size: 14px;
  color: #1c1e21;
}

.card-image {
  width: 100%;
  height: auto;
}
.card_footer_container {
  padding: 0px 15px 15px 15px;
}
.card_footer_reactions {
  width: 100%;
  padding: 5px 15px 10px 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

.card_footer_reactions img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.like_count {
  display: flex;
  align-items: center;
}
.like_count img {
  margin-left: -10px;
}
.like_count span {
  margin-left: 5px;
}
.share_comment_count {
  display: flex;
  gap: 15px;
  color: gray;
}
.share_count,
.comment_count {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.card-footer button {
  background: none;
  border: none;
  gap: 8px;
  color: #6b6e73;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 30px;
  border-radius: 5px;
  font-weight: 500;
}

.card-footer button:hover {
  color: #1c1e21;
  background: rgb(236, 236, 236);
}

.card-footer button img {
  width: 18px;
  height: 18px;
}
/* right sidebar starts */
.right_sidebar_wrap {
  display: flex;
  width: 20%;
  position: fixed;
  top: 50px;
  right: 0;
  align-self: flex-start;
  overflow: auto;
  height: calc(100% - 50px);
}
.right_sidebar {
  /* display: flex;
  width: 20%;
  position: sticky;
  top: 50px;
  align-self: flex-start; */
  width: 100%;
}
.events {
  border-bottom: 1px solid lightgray;
  margin: 20px 0 10px 0;
  p {
    color: gray;
    font-weight: 600;
  }
  a {
    display: flex;
    gap: 10px;
    padding: 10px 0;

    span {
      font-size: 14px;
    }
  }
}
